<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gethin.mapper.LectureMapper">
<!--    <select id="getLecture" parameterType="int" resultType="com.gethin.po.Lecture">
		select
		id,lecture_name as lectureName,note from lecture where id=#{id}
	</select>-->
	<sql id="lecture_columns">
		id,lecture_name,note
	</sql>
	<select id="getLecture" parameterType="int" resultMap="lectureMap">
		select <include refid="lecture_columns"/>
		from lecture where id=#{id}
	</select>
	<resultMap id="lectureMap" type="com.gethin.po.Lecture">
		<id property="id" column="id"/>
		<result property="lectureName" column="lecture_name"/>
		<result property="note" column="note"/>
	</resultMap>

	<insert id="saveLecture" parameterType="Lecture" useGeneratedKeys="true" keyProperty="id">
		insert into lecture(lecture_name,note) VALUES (#{lectureName},#{note})
	</insert>
	<update id="updateLecture" parameterType="Lecture">
		UPDATE lecture set lecture_name=#{lectureName},note=#{note} where id=#{id}
	</update>
	<delete id="deleteLecture" parameterType="int">
		DELETE from lecture where id=#{id}
	</delete>
</mapper>
  